li{
  list-style-type: none;
}

img {
  max-width: 100%;
}

.btn {
  padding: 15px 35px;
  background: #FF7200;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 650;
}

.card {
  border: 0;
}

header {
  background: url(../image/Rectangle1.jpg) no-repeat;
  margin: 0;
  padding: 0;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #464646;
}

/*=============================================
=            Header comment block            =
=============================================*/
.bg {
  background: rgb(0, 213, 255);
  opacity: 0.9;
  width: 100%;

}

.nav-item {
  padding: 0;
  margin: 0;
  margin: 0 20px;
}

#my-nav a {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.title {
  padding-top: 90px;
  text-align: center;
}

.title__first {
  text-align: center;
  font-size: 48px;
  margin-left: 200px;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  background: #00D6FF;
  max-width: 539px;
  max-height: 55px;
}

.title_main {
  font-family: 'Oswald', sans-serif;
  font-size: 247px;
  color: white;
  text-shadow:
    -0 -5px 0 #000000,
    0 -5px 0 #000000,
    -0 5px 0 #000000,
    0 5px 0 #000000,
    -5px -0 0 #000000,
    5px -0 0 #000000,
    -5px 0 0 #000000,
    5px 0 0 #000000,
    -1px -5px 0 #000000,
    1px -5px 0 #000000,
    -1px 5px 0 #000000,
    1px 5px 0 #000000,
    -5px -1px 0 #000000,
    5px -1px 0 #000000,
    -5px 1px 0 #000000,
    5px 1px 0 #000000,
    -2px -5px 0 #000000,
    2px -5px 0 #000000,
    -2px 5px 0 #000000,
    2px 5px 0 #000000,
    -5px -2px 0 #000000,
    5px -2px 0 #000000,
    -5px 2px 0 #000000,
    5px 2px 0 #000000,
    -3px -5px 0 #000000,
    3px -5px 0 #000000,
    -3px 5px 0 #000000,
    3px 5px 0 #000000,
    -5px -3px 0 #000000,
    5px -3px 0 #000000,
    -5px 3px 0 #000000,
    5px 3px 0 #000000,
    -4px -5px 0 #000000,
    4px -5px 0 #000000,
    -4px 5px 0 #000000,
    4px 5px 0 #000000,
    -5px -4px 0 #000000,
    5px -4px 0 #000000,
    -5px 4px 0 #000000,
    5px 4px 0 #000000,
    -5px -5px 0 #000000,
    5px -5px 0 #000000,
    -5px 5px 0 #000000,
    5px 5px 0 #000000,
    -5px -5px 0 #000000,
    5px -5px 0 #000000,
    -5px 5px 0 #000000,
    5px 5px 0 #000000;
}

.title__third {
  font-size: 60px;
  color: #00D6FF;
  font-family: 'Bebas Neue Regular', sans-serif;
}

p.text {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  color: white;

}


/*=============================================
=            Section comment block   2         =
=============================================*/

.bg2 {
  background: url(../image/Rectangle6.png) no-repeat;
  max-width: 100%;
  background-size: cover;
  margin-top: -230px;
}

.bg3 {
  background: url(../image/bigstock-sport-fitness-weightlifting--223790512.png);
  background-size: cover;
  max-width: 100%;
}

.title_second {
  font-size: 72px;
  color: black;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 700;
  padding-top: 160px;
  margin-top: 180px;
}

.text-two {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  line-height: 1.2;
}

.iphone {
  margin-top: 230px;
  padding-bottom: 40px;
}

/**
 *
 * Block three
 *
 */
.block-three {
  background: black;
}

.title-block-three {
  font-size: 72px;
  color: #00D6FF;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 900;
}

.list-group-item {
  display: block;
  border: 0;
  border-bottom: 2px dashed black;
  background: transparent;

}

.list-group {
  padding-top: 50px;
  width: 100%;
}

.list-group li {
  color: black;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;

}

.block-four h3 {
  color: #000000;
  font-family: "Bebas Neue";
  font-size: 72px;
  font-weight: 400;
  line-height: 89.7px;
  text-transform: uppercase;
}

.block-four {
  background: url(../image/Rectangle6copy.png) no-repeat;
  background-size: cover;
  padding-bottom: 80px;
  max-width: 100%;
}

/**
 *
 * Block five
 *
 */

.block-five {
  background: #E1DDC1;
}

.title-five {
  text-align: center;
  font-size: 72px;
  color: black;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-weight: 900;
  padding-top: 80px;
}

span.numbers {
  position: absolute;
  color: black;
  font-size: 90px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  left: 0px;
}

.list-item {
  border: 0;
  border-bottom: 2px dashed black;
  background: transparent;
  padding: 30px;
}

/**
 *
 * Block sex
 *
 */
.block-sex {
  background: url(../image/whight.png)no-repeat;
  padding-bottom: 180px;
  padding-top: 80px;
  background-size: cover;
  max-width: 100%;
}

/**
 *
 * Block seven
 *
 */

.block-seven {
  background: #F3F3F3;
}

/**
 *
 * Block eight
 *
 */

.block-eight {
  background: #000000;
  padding-top: 110px;
  text-align: center;
}

.bg8 {
  background: url(../image/first.png) no-repeat;
  padding-bottom: 100px;
  max-width: 100%;
  background-size: cover;
}

/**
 *
 * Block nine
 *
 */
.block-nine {
  background: #00D6FF;
  text-align: center;
}

.main-img {
  position: relative;
  z-index: 2;
  
}

.second-img {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  margin-left: 120px;
}
.third-img {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  margin-left: -120px;
}

.name {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 900;
  font-size: 35px;
  padding-right: 50px;
  padding-top: 20px;
  color: #000000;
}
.namess {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 900;
  font-size: 35px;
  padding-right: 50px;
  padding-top: 80px;
  color: #000000;
}

.author {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 17px;
  padding-right: 170px;
  font-weight: 500;
  color: #000000;
}

.lost {
  font-family: 'Mark My Words', sans-serif;
  font-size: 46px;
  padding-right: 100px;
  color: #000000;
  font-weight: 500;
  padding-bottom: 80px;
}

.names {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 900;
  font-size: 35px;
  padding-top: 20px;
  color: #000000;
}

.authors {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
}

.losts {
  font-family: 'Mark My Words', sans-serif;
  font-size: 46px;
  color: #000000;
  font-weight: 500;
}

/**
  *
  * Block ten
  *
  */
.card-title {

  font-family: 'Bebas Neue', sans-serif;
  padding-top: 20px;
  font-size: 44px;
  color: #00D6FF;
  text-align: center;
  font-weight: 700;
  padding-bottom: 140px;
}

.card-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 44px;
  color: #000000;
  text-align: center;
  font-weight: 700;
  border: 1 px solid #00D6FF;
  background: #00D6FF;
  margin-left: 25px;
  margin-right: 25px;
}
.card{
  margin-bottom: 40px;
}
.card-calc {
  background: url(../image/CALC.png);
  height: 33.333333%;
  background-size: cover;
}

.card-mark {
  background: url(../image/METKA.png);
  height: 33.333333%;
  background-size: cover;
}

.card-folder {
  background: url(../image/PAPKA.png);
  height: 33.333333%;
  background-size: cover;
}

/*=============================================
 =            Section comment block            =
 =============================================*/
.last-block {
  background: #000000;
  color: #ffff;
}

.foot-navall {
  padding-top: 60px;

}

.foot-nav {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 0 15px;
}

.coopyright {
  padding-top: 30px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 80px;
}

.img-logo {
  padding-top: 40px;
}


/*=============================================
=           @MEDIA            =
=============================================*/


@media (min-width: 768px) and (max-width: 991px) {
  .title__first {
    font-size: 40px;
    margin-left: 150px;
    max-width: 250px;
}
.iphone {
  margin-top: 350px;
}
.main-img {
  padding-top: 20px; 
  margin-left: 25px;
}
.namess {
  padding-right: 0px;
}
.name {
  padding-right: 0px; 
}
.lost {
  padding-right: 0px;
}
.author {
  padding-right: 0px;
}
.card-title {
  padding-top: 10px;
  font-size: 40px;
  padding-bottom: 50px;
}
.card{
  padding-top: 30px;
  padding-bottom: 40px;
}
.foot-navall{
  margin-right:170px ;
}
.card-text {
  font-size: 25px;
  margin-left: 15px;
  margin-right: 15px;
}
.img-logo {
  position: absolute;
  right:0;
  margin-top: -350px;
}
}
@media (max-width: 575px) { 
  .title_main {
     font-size: 150px;
  }
  .title__first {
    font-size: 40px;
    margin-left: 70px;
    max-width: 250px;
}
.iphone {
  margin-top: 20px;
}
.title-block-three {
  font-size: 40px;
}
  .title-five {
    font-size: 65px;
    padding-top: 10px;
}
.main-img {
  margin-left: 0px;
}
.card-title {
  font-size: 40px;
}
.card{
  padding-top: 40px;
}
.foot-nav {
  font-size: 20px;

  margin: 0 5px;
}
.foot-navall{
  margin-right:170px ;
}
.img-logo {
  position: absolute;
  right:0;
  margin-top: -560px;
}
.second-img {

  margin-left: 0px;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
  .card-text {
    font-size: 35px;
}
}